body{
    transition: 1.25s;
    background-color: aquamarine;
}

.main{
    width: 35%;
    height: 80vh;
    margin: 0 auto;
    line-height: 2;
    transition: 1.25s;
}


.form{
    margin: 0 auto;
}


.topic{
    color: black;
    text-align: left;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    transition: 1.25s;
}

.select{
    transition: 1.25s;
    width:auto;
    // background-color: blue;
    display: flex;
    align-items: center;

    h6{
        margin: 0 1em;
    }
  .link{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
  }
}

.inputs{
    transition: 1.25s;
    // background-color:#400b2c;
    margin-top: 2rem;
    
    .label{
        text-align: left;
        color: rgb(0, 148, 0);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1.5rem;
        font-weight: 500;
        margin: 0 .8em;
    }

    .input-box{
        text-align: left;
        // margin: 0 .8em;
        input{
            border:none;
            font-size: 1rem;
            // color: rgba(0, 189, 0, 0.075);
            color: #000;
            background-color: #fff;
            padding: 1rem 2rem;
            opacity: 80%;
            width: 100%;
        }
    }
}

.check{
    text-align: left;
    margin-top: 1rem;
    span{
        color: rgba(1, 88, 1, 0.815);
        .lin{
            color: rgba(1, 88, 1, 0.815);
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

.but{
    margin-top: 1rem;
    background-color: yellow;
    height:3rem;
    .btn{
        width: 100%;
        height: 3rem;
        border: none;
        background-color: rgba(1, 88, 1, 0.8);
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1rem;
        font-weight: bold;
        border-radius: .3rem;

        &:hover{
            cursor: pointer;
        }
    }
}


















/*@media screen and (max-width: 500px) {

    .allS{
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
        width: 100%;

        .signup{
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: wrap-reverse;
            height: 2rem;
            top: 44rem;
            width: 100%;
            .form2{
                margin-top: 1rem;
                position: relative;
                left: -15rem;
            }

            .leimg{
               display: none;
                img{
                    height: 2rem;
                width: 4rem;
                }
            }
        }
    }
    // .sign-up{
    //     height: 70vh;
    //     max-height: 10vh;
    //     width: 30%;
    // }
    // p{
    //     margin:2em auto;
    // }
    // input{
    //     margin-left: 2rem;
    //    width: 60%;
    // }
}*/