@import "../../_variables";

.main{
    background-image:linear-gradient( rgba(52, 87, 202, 0.836), rgba(1, 14, 48, 0.822)), url(../../../Photos/help.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    
    .need{
        h3{
            font-family: "Poppins";
            font-size: 2rem;
            position: relative;
            top: 10vh;
            align-items: center;
            display: flex;
            justify-content: center;
            color: $all;
        
            span{
                color: $new;
                font-weight: bold;
                font-size: 4rem;
            }
        }
    }

    .mid{
        position: relative;
        top: 20vh;
        height: 7rem;
        width: 100%;
        background-color: slateblue;
    }
}