@import "../../_variables";


@media  all and (min-width:1024px) and (max-width:1280px){
.main{
    background-image: linear-gradient(rgba(100, 20, 29, 0.301),rgba(65, 2, 2, 0.541)),url(../../../Photos/stand.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height: 100vh;
    width: 100%;

    .marq{
        position: fixed;
        height: 38vh;
        width: 100%;
        background-color: rgb(224, 172, 1);
        marquee{
            position: relative;
            bottom: 13%;
            color: $all;
            font-size: 42px;

            ul{
                display: flex;
                align-items: center;
                li{
                    list-style:square;
                    margin: 0 90px 0 0;
                }
            }
        }
    }
}
}

@media  all and (min-width:1280px) and (max-width:1500px){
    .main{
        background-image: linear-gradient(rgba(100, 20, 29, 0.301),rgba(65, 2, 2, 0.541)),url(../../../Photos/stand.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position:center;
        height: 100vh;
        width: 100%;
    
        .marq{
            position: fixed;
            height: 30vh;
            width: 100%;
            background-color: rgb(224, 172, 1);
            marquee{
                position: relative;
                bottom: 13%;
                color: $all;
                font-size: 42px;
    
                ul{
                    display: flex;
                    align-items: center;
                    li{
                        list-style:square;
                        margin: 0 90px 0 0;
                    }
                }
            }
        }
    }
    }