@media screen and (max-width:480px) {
    footer{
        position: relative;
        top: 90vh;
        height: 60vh;
        color: wheat;
        width: 100vw;
        background: #000;
        .contents{
            margin-left: 20px;
            .logo{
                img{
                    height: 60px;
                }
            }
        }
    }
}