@import "../../_variables";

.body{
    background-image:linear-gradient(rgba(0, 0, 0, 0.658), rgba(102, 0, 0, 0.623)), url(../../../Photos/church.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    width: 100%;

    h1{
        position: absolute;
        top: 40vh;
        left: 15vw;
        color: $new;
        font-family: 'Kanit';
        font-size: 3rem;
        line-height: 1;
    }

    a,button{
        position: relative;
        top: 15rem;
        cursor: pointer;

        &:hover{
            background-color:$new;
            color: $all;
        }
    }
}