@import "../../_variables";

@media  all and (min-width:1024px) and (max-width:1280px){
    .body{
        position: fixed;
        background-image:linear-gradient(rgba(0, 0, 0, 0.658), rgba(102, 0, 0, 0.623)), url(../../../Photos/church.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        height: 100vh;
        width: 100%;
    
        h1{
            position: relative;
            top: 30%;
            text-align: center;
            color: $new;
            font-family: 'Kanit';
            font-size: 40px;
            line-height: 1;
        }
    
       .btn-1{
        position: relative;
        top: 42%;
        width: 20%;
        left: 41.3%;
       }
    
        button{
            &:hover{
                background-color:$new;
                color: $all;
            }
        }
    }
}

@media  all and (min-width:1280px) and (max-width:1500px){
    .body{
        position: fixed;
        background-image:linear-gradient(rgba(0, 0, 0, 0.658), rgba(102, 0, 0, 0.623)), url(../../../Photos/church.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        height: 100vh;
        width: 100%;
    
        h1{
            position: relative;
            top: 30%;
            text-align: center;
            color: $new;
            font-family: 'Kanit';
            font-size: 40px;
            line-height: 1;
        }
    
       .btn-1{
        position: relative;
        top: 42%;
        width: 20%;
        left: 41.3%;
       }
    
        button{
            &:hover{
                background-color:$new;
                color: $all;
            }
        }
    }
}